SCREEN_SESSION_NAME=minecraft
SERVER_LOG_FILE=
OPENAI_API_KEY=
LOG_FILE_PATH=
COMMAND_KEYWORD=!oraculo
OPENAI_MODEL=gpt-4o-mini
RESPONSE_TARGET=@a
WEBHOOK_PORT=5050
WEBHOOK_SECRET=
COOLDOWN_SECONDS=60
REVEAL_EXACT_COORDS=False
DIVINE_FAVOR_PLAYERS=
